<div class="form-group" [formGroup]="formGroup">
  <label>{{labelName}}<small *ngIf="optional === true">(optional)</small></label>
  <input class="form-control" formControlName="formControlName" required>
  <div *ngIf = "formControlName.invalid && formControlName.dirty" class="alert alert-danger">
    <div *ngIf = "formControlName.errors.required">
      Required!!
    </div>
    <div *ngIf = "formControlName.errors.minlength">
      Min Length should be {{minLength}}!!
    </div>
    <div *ngIf = "formControlName.errors.maxlength">
      Max Length is {{maxLength}}!!
    </div>
    <div *ngIf = "formControlName.errors.pattern">
      Should only be alphabet!!
    </div>
  </div>
</div>
